{% load static %}
    <div class="container">
        <h1 id="face-detect-title">Face Detection</h1>
        <div class="col-lg-4">
            <div class="picture-container">
                <img id="picture-1" class="picture img-responsive" src="../static/images/sample-1.jpg">
                <br>
                <center>
                    <a id="detect-1" href="#">
                        <button class="detect-btn">Detect Faces</button>
                    </a>
                    <a id="reset-1" href="#">
                        <button class="reset-btn">Reset</button>
                    </a>
                </center>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="picture-container">
                <img id="picture-2" class="picture img-responsive" src="../static/images/sample-2.jpg">
                <br>
                <center>
                    <a id="detect-2" href="#">
                        <button class="detect-btn">Detect Faces</button>
                    </a>
                    <a id="reset-2" href="#">
                        <button class="reset-btn">Reset</button>
                    </a>
                </center>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="picture-container">
                <img id="picture-3" class="picture img-responsive" src="../static/images/sample-3.jpg">
                <br>
                <center>
                    <a id="detect-3" href="#">
                        <button class="detect-btn">Detect Faces</button>
                    </a>
                    <a id="reset-3" href="#">
                        <button class="reset-btn">Reset</button>
                    </a>
                </center>
            </div>
        </div>
        <div class="clearfix"></div>
            <h1 id="face-detect-title">Upload A Picture</h1>
        <div class="img-upload-section">
            <div class="row">
                <div class="col-lg-6">
                    <div class="picture-container">
                        <center>
                            <img id="uploaded-img-1" class="picture" src="#" alt="Upload An Image" />
                        </center>
                        <br>
                        <center>
                            <input type='file' id="image-input-1">
                            <a id="detect-upload-1" href="#">
                                <button class="detect-btn">Detect Faces</button>
                            </a>
                            <a id="reset-upload-1" href="#">
                                <button class="reset-btn">Reset</button>
                            </a>
                        </center>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="picture-container">
                        <center>
                            <img id="uploaded-img-2" class="picture" src="#" alt="Upload An Image" />
                        </center>
                        <br>
                        <center>
                            <input type='file' id="image-input-2">
                            <a id="detect-upload-2" href="#">
                                <button class="detect-btn">Detect Faces</button>
                            </a>
                            <a id="reset-upload-2" href="#">
                                <button class="reset-btn">Reset</button>
                            </a>
                        </center>
                    </div>
                </div>    
            </div>
            
        </div>
    </div>
