{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<h3>Upload Image to Search</h3>
			<br>
			<div id="imagesearch-form">
				<form action="{%url 'face_search' %}" method="post" enctype="multipart/form-data">
				    {% csrf_token %}
				    {{ form.as_p }}
				    <button id ="img-submit" type="submit" value="Submit">Submit</button>
				</form>
			</div>
		</div>
		<div class="col-lg-6">
			<h3>Confirm Image to search</h3>
			<div id="image-search-panel">
				<img id="image-for-search" src="{{image_for_search}}">
				<div class="clearfix"></div>
				<button id="confirm-search">Confirm Search</button>
			</div>
		</div>
		<div class="col-lg-12">
			<div id="search-messages">
				<code id="i-msg">
					
				</code>
			</div>
		</div>

		<!-- <div class="col-lg-6">
			<h3>Details</h3>
			<br>
			<div id="training-data">
				<div class="row">
					<div class="col-lg-6">
						<p><b>Name :</b> {{subject_name}}</p>
						<p><b>Image ID :</b> <span id="subject_id">{{subject_id}}</span></p>
						<p><b>Phone : </b>{{phone}}</p>
						<p><b>Father Name : </b>{{father_name}}</p>
						<p><b>Father's Number: </b>{{father_number}}</p>
						<p><b>Friend: </b>{{best_friend}}</p>
						<p><b>Friend's Number</b> {{best_friend_number}}</p>
						<button id="train-data">Train Data</button>
						
						<span id="success-msg"></span>
					</div>
					<div class="col-lg-6">
						<img id="subject_pic" src="{{subject_pic}}">	
					</div>
				</div>
				
			</div>
		</div> -->
	</div>
</div>

<style type="text/css">
	.container{
		padding:20px;
		color: #000;
	}
	#imagesearch-form{
		border: 1px solid #000;
		padding: 20px;
	}
	#training-data{
		border: 1px solid #000;
		padding:20px;
	}
	#image-search-panel{
		border: 1px solid #000;
		padding:20px;
	}
	#image-for-search{
		max-width:250px;
		height: auto;
	}
	#search-messages{
		padding:20px;
	}
	#i-msg{
		height:200px;
	}
</style>
<script type="text/javascript">
	$("#imageseach-form input").addClass("form-control");

	var image = "http://"+location.hostname+$("#image-for-search").attr("src");
	console.log(image);
	$("#confirm-search").click(function(){
		var request = new XMLHttpRequest();

		request.open('POST', 'https://api.kairos.com/recognize');

		request.setRequestHeader('Content-Type', 'application/json');
		request.setRequestHeader('app_id', 'd6139b8d');
		request.setRequestHeader('app_key', '553c6f9fdbf6dcda55be22025a6720f6');

		request.onreadystatechange = function () {
		  if (this.readyState === 4) {
		    console.log('Status:', this.status);
		    console.log('Headers:', this.getAllResponseHeaders());
		    console.log('Body:', this.responseText);
		    var data = this.responseText;
		    $("#i-msg").html(data);
		  }
		};

		var body = {
		  'image': image,
		  'gallery_name': 'idataset'
		};

		request.send(JSON.stringify(body));

		
	});

</script>

{% endblock %}