{% load static %}
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="/">I-Detector</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="face-search" accesskey="1">Image Search</a></li>
                <li><a href="about-us" accesskey="2">About Us</a></li>
                <li><a href="references" accesskey="3" title="">References</a></li>
            </ul>
        </div>
    </div>
    <div id="banner" class="container">
        <div class="title">
            <h2>An Image processing Project</h2>
            <span class="byline">Including face Detection, face Recognition and Feature Extraction</span>
        </div>
    </div>
</div>